/* body */

body {
    background-color: rgb(196, 174, 202);
}

/* Game title */

.game-title {
    display: flex;
    justify-content: center;
}

.badge-secondary {
    width: 400px;
    background-color: rgb(218, 134, 147);
    color: white;
}

/* Jumbotron "instructions" */

.jumbotron-fluid {
    padding: 10px;
    background-color: rgb(228, 203, 207);
    color: rgb(61, 21, 70);
    font-size: 14px;
    margin-bottom: 0;
}

.jumbotron-fluid h1 {
    font-size: 22px;
    text-decoration: underline;
    text-align: center;
}

.jumbotron-fluid ul {
    padding-left: 100px;
}

/* Start game button */
#begin-game {
    text-align: center;
    font-weight: bolder;
}
/* Scores divs */

.scores {
    display: flex;
    justify-content: space-evenly;
}

/* Player Score */

.player-score {
    background-color: rgb(218, 96, 96);
    height: 130px;
    width: 200px;
    margin: 20px 50px;
    padding: 20px;
    text-align: center;
    float: left;
    font-size: 1.8em;
    color: white;
    border-style: solid;
    border-color: white;
}

/* Equals or Doesn't */

.equal {
    width: 46px;
    margin-top: 35px;
}

#equals {
    font-size: 4em;
}

/* Goal Number */

.goal-number {
    background-color: rgb(218, 96, 96);
    height: 130px;
    width: 200px;
    margin: 20px 50px;
    padding: 20px;
    text-align: center;
    font-size: 1.8em;
    color: white;
    border-style: solid;
    border-color: white;
}

/* Crystal Images */

.crystal-divs {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

#one img, #two img, #three img, #four img {
    width: 150px;
    float: left;
    margin: 0 20px;
    border-style: dotted;
    border-color: purple;
    border-width: 2pt;
}

.NewGame {
    background-color: rgb(136, 68, 100);
    color: white;
    width: 130px;
    height: 150px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0px 40px 0px 0px;
    padding: 55px 0px 0px 0px;
    border-style: solid;
    border-color: white;
}

.Losses {
    background-color: rgb(136, 68, 100);
    width: 130px;
    height: 150px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 0px 40px;
    color: white;
    padding: 15px 0;
    border-style: solid;
    border-color: white;
}